<f:if condition="{pagination.showPagination}">
	<ul class="mia3-search-pagination">
		<f:if condition="{pagination.prevPage}">
			<li class="mia3-search-pagination-prev">
				<f:link.action addQueryString="true" arguments="{page: pagination.prevPage}">
					&laquo;
				</f:link.action>
			</li>
		</f:if>
		<f:for each="{pagination.pages}" as="page">
			<f:if condition="{pagination.currentPage} == {page}" >
				<f:then><li class="mia3-search-pagination-active mia3-search-pagination-page"></f:then>
				<f:else><li class="mia3-search-pagination-page"></f:else>
			</f:if>
				<f:link.action addQueryString="true" arguments="{page: page}">{page}</f:link.action>
			</li>
		</f:for>
		<f:if condition="{pagination.nextPage}">
			<li class="mia3-search-pagination-prev">
				<f:link.action addQueryString="true" arguments="{page: pagination.nextPage}">
					&raquo;
				</f:link.action>
			</li>
		</f:if>
	</ul>
</f:if>