{namespace s=MIA3\Mia3Search\ViewHelpers}
<div class="mia3-search">
	<f:form action="index" class="search-form" method="get">
		<f:form.textfield name="query" value="{query}" placeholder="Search..." class="form-control"/>
		<f:form.select name="facets[L]" value="{facets.L.value}" optionLabelField="label" optionValueField="value" options="{facets.L.options}" />
		<button type="submit" class="btn btn-small btn-default">Search</button>
	</f:form>

	<s:paginate items="{results}" as="paginatedResults">
		<strong>{paginatedResults.total}</strong>
		<table class="table table-striped search-results">
			<f:for each="{paginatedResults}" as="result">
				<tr>
					<td>
						<div class="search-result">
							<h5>{result.pageTitle}</h5>
							<s:wrapWords words="{query}">{result.content -> f:format.raw() -> f:format.crop(maxCharacters: 600)}</s:wrapWords>
							<a href="{result.pageUrl}">{result.pageUrl}</a>
							{result.score}
						</div>
					</td>
				</tr>
			</f:for>
		</table>
		<f:render partial="Pagination" arguments="{pagination: pagination}"/>
	</s:paginate>
</div>

<style>
	.search-form * {
		display: inline;
	}

	.search-form {
		overflow: hidden;
		text-align: center;
	}

	.search-form input {
		width: 200px;
	}
</style>